* {box-sizing: border-box;}
        
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #dbf2f8;
}

.topnav a {
  float: left;
  display: block;
  color: #0091AE;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.topnav a.active {
  background-color: #3e97e0;
  color: white;
}

.topnav a:hover {
  background-color: #7eb9e9;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 12px;
  font-size: 17px;
  border: none;
  border-radius: 10px 0px 0px 10px;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 12px;
  margin-right: 40px;
  color: rgb(255, 255, 255);
  background: #ff896c;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 0px 10px 10px 0px;
}

.topnav .search-container button:hover {
  background: #ff4b1f;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}