.post--container{
  width: 96%;
  height: 210px;
  background-color: #ddf0ff;
  /*set border*/
  border-width: 4px;
  border-color: #a8cdec;
  border-style: solid;
  border-radius: 5px;
  margin: auto;
}
.mainPost{
display: flex; 
}

.title{
  font-size: large;
  width: 99%;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 3px;
  border:none;
}

.input-field{
width: 99%;
height: 110px;
margin-left: 3px;
resize:none;
border-radius: 5px;
border-color: white;

}

/* Add a background color on hover */
button:hover {
background-color: #86cdff;
color: #273144;
}

/* Dropdown list: https://www.freecodecamp.org/news/html-drop-down-menu-how-to-add-a-drop-down-list-with-the-select-element/ */
.dropdown {
position: relative;
display: inline-block;
margin-left: 58%;
}
.submit-button{
  background-color: #ddf0ff;
  color: #3d82ba;
  border-color: #a8cdec;
  font-size: 20px;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 20px;
}

select {
font-size: 20px;
outline: 0;
background: #f7fcff;
color: #273144;
border: 1px solid #86cdff;
padding: 5px;
border-radius: 5px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.image-button {
  border: 2px solid #a8cdec;
  color: #3d82ba;
  background-color: #f7fcff;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px 10px;
  margin-left: 20px;
}

.upload-btn-wrapper input[type=file] {
  font-size: 10px;
  position: absolute;
  height: 30px;
  width: 155px;
  left: 21px;
  top: 3px;
  opacity: 0;
}